<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h3 style="text-align: center; color: green">
            <span th:text="${title}"></span>
        </h3>
        <div th:each="entry : ${list}">
            <h5 th:text="'Tour Name: ' + ${entry.getName()}"></h5>
            <span th:text="'Average Time: ' + ${entry.getAvgTime()}"></span>
            <span th:text="'Average Difficulty: ' + ${entry.getAvgDifficulty()}"></span>
            <span th:text="'Average Rating: ' + ${entry.getAvgRating()}"></span>
        </div>
    </body>
</html>